# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors
*.swp
*.swo
*~
.vscode/
.idea/

# LaTeX 临时文件
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*.fls
*.fdb_latexmk

# Typora 备份
*.tybak

# 临时文件
*.tmp
*.bak
